{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
{% if students2 %}
<table class="table table-hover table-bordered table-striped">
    {% for student2 in students2 %}
    <tr>
        <td>{{ student2.id }}</td>
        <td>{{ student2.first_name }}</td>
        <td>{{ student2.last_name }}</td>
        <td>{{ student2.group }}</td>
        <td>{{ student2.email }}</td>
        <td>{{ student2.scores.name }}</td>
        <td>{{ student2.scores.value }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h1>Студентов нету =(</h1>
{% endif %}
{% endblock %}