<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Seven task</title>
</head>
<body>
    <table>
            <tr>
                <th>Заголовок</th>
                <th>Описание</th>
                <th>Дата публикации</th>
            </tr>
            {% for news in newses %}
            <tr>
                <td>
                    {{ news['title'] }}
                </td>
                <td>
                    {{ news['information'] }}
                </td>
                <td>
                    {{ news['date'] }}
                </td>

            </tr>
            {% endfor %}
        </table>
</body>
</html>